.add {
  width: 80%;
  margin-left:  max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add form {
  gap: 20px;

}

/* .add-image-upload {
  width: 170px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
  background: rgba(0, 128, 255, 0.301);
  border: 1px solid rgba(0, 132, 255, 0.47);
} */
.add-image-upload label {
  align-content: center;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(213, 213, 213, 0.653);
  width: 80px;
  height: 100px;
  cursor: pointer;
}

.add-image-upload img {
  height: 100%;
}

.all-image-upload {
  width: 40%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.add-product-name, .add-product-description {
  width: max(40%, 280px);
  
}

.add-product-name input, .add-product-description textarea {
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;

}

.add-category-price select, .add-category-price input {
   max-width: 120px;
   padding: 10px;
} 

.add-btn {
  max-width: 120px;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.add-btn:hover {
   box-shadow: 0px 0px 2px rgba(27, 26, 26, 0.555);
}