.order-item{
    width: 75vw;
    display: grid;
    grid-template-columns: 0.3fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid rgb(0, 80, 165);
    margin: 40px;
    padding: 20px;
    font-size: 14px;
    color: #505050;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;
}

.order-item-accessory, .order-item-name {
    font-weight: 600;
}

.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address {
    margin-bottom: 10px;
}

.order-item select {
    background-color: #ffe8c4;
    border: 1px solid rgb(0, 80, 165);
    width: max(10vw, 120px);
    padding: 7px 20px;
    color: #0073ff;
    outline: none;
    cursor: pointer;
}

.success,
.fail {
    padding: 7px 20px;
    display: flex;
}

.success {
    background-color: rgba(0, 115, 25, 0.212);
    color: green;
}

.fail {
    background-color: rgba(222, 0, 0, 0.228);
    color: red;
}

.delete-button {
    cursor: pointer;
    padding: 7px 35px;
    border: none;
    background-color: rgb(180, 18, 0);
    color: white;
}